body{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}
.colorBoton {
    background: rgb(94, 0, 128);
    color: aliceblue;
}